---
layout: default
title: 
---
<p class="posted_info">有健康叫资产，没健康叫遗产</p>
<div class="news">
	<h3>文章数({{ paginator.total_posts}})</h3>
	{% for post in paginator.posts %}
	<div class="index_lists radius">
		<h4><cite>[{{ post.date | date:"%Y-%m-%d"  }}]</cite><a href="{{ site:url  }}{{ post.url  }}" target="_blank">{{post.title}}</a></h4>
		<div class="index_des">
			<div class="index_img">
				{% if post.img %}
				<img src="{{ site:url }}/images/{{ post.img }}"/>
				{% endif %}
			</div>
			{{ post.description }}
			<div class="blank10"></div>
		</div>
	</div>
	{% endfor %}
	<div class="index_page">
        {% if paginator.previous_page %}
			<a href="{{ site:url  }}/" class="page">首页</a>
			{% if paginator.previous_page == 1  %}
	        <a href="{{ site:url  }}/" class="page">上一页</a>
			{% else  %}
			<a href="{{ site:url  }}/page{{ paginator.previous_page }}" class="page">上一页</a>
			{% endif  %}
        {% endif %}
		{% for page in (1..paginator.total_pages) %}
			{% if page == paginator.page %}
			  {{ page }}
			{% elsif page == 1 %}
			  <a href="{{ site:url  }}/" class="page">{{ page }}</a>
			{% else %}
			 <a href="{{ site:url  }}/page{{ page }}" class="page">{{ page }}</a>
			{% endif %}
		{% endfor %}
        {% if paginator.next_page %}
        <a href="{{ site:url  }}/page{{ paginator.next_page  }}" class="page">下一页</a>
		<a href="{{ site:url  }}/page{{ paginator.total_pages}}" class="page">末页</a>
        {% endif %}
    </div>
</div>
